.composition {
  display: inline-block;
  padding: 8px 16px;
  background: #9c27b0;
  color: #FFF;
  border-radius: 2px;
  margin-right: 8px;
  text-decoration: none;
  outline: 0;
  flex-grow: 1;
  text-align: center;
}
.composition:hover, .composition:focus {
  background: #ba68c8;
}

.set-title {
  margin: 24px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.set-items {
  display: flex;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width:600px) {
  .set-title {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }
  .set-items {
    padding-left: 16px;
    padding-right: 16px;
  }
}