.set-item {
  display: inline-block;
  padding: 16px;
  background: #616161;
  color: #FFF;
  text-decoration: none !important;
  outline: 0;
  text-align: center;
  font-size: 16px;
}
.set-item:hover, .set-item:focus {
  background: #373737;
}

.nocturne {
  background: #607d8b;
}
.nocturne:hover, .nocturne:focus {
  background: #34515e;
}

.set-title {
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.set-items {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 8px;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .set-container {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .set-container {
    padding-left: 128px;
    padding-right: 128px;
  }
}

@media screen and (min-width: 1920px) {
  .set-container {
    padding-left: 256px;
    padding-right: 256px;
  }
}


@media screen and (max-width: 1024px) {
  .set-items {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .set-items {
    grid-template-columns: repeat(4, 1fr);
  }
}