body {
  margin: 0; padding: 0;
}
#name {
  background: purple;
  color: #FFF;
  font-family: sans-serif;
  padding: 16px;
  padding-top: 72px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}