body {
  padding: 0;
  margin: 0;
  background: #FAFAFA;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.textfield, body {
  font-size: 15px;
  font-family: sans-serif;
  color: #000;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

p { margin-top: 0; }

.toolbar, .toolbar-large {
  padding: 20px 24px;
  height: 24px;
  background: #2196f3;
  color: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.23);
  position: fixed;
  top: 0;
  left: 0; right: 0;
}

.toolbar-height { height: 64px; }
.toolbar-large-height { height: 112px; }

.toolbar .icon, .toolbar-large .icon {
  color: #FFF;
  text-decoration: none;
  outline: 0;
}

.toolbar .title, .toolbar-large .title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.toolbar-large {
  height: 72px;
}

.toolbar-large .title {
  position: absolute;
  bottom: 20px;
  left: 80px;
}

.section {
  padding: 24px;
  display: block;
}

.list-item {
  color: #000;
  padding: 16px 24px;
  display: block; 
  text-decoration: none;
  outline: 0;
}
.list-item:hover, .list-item:focus {
  background: #EEE;
}

.textfield {
  border: 0;
  border-bottom: 1px solid #888;
  outline: 0;
  padding: 0;
  padding-bottom: 4px;
  background: transparent;
}
.textfield:focus, .textfield:active {
  border-bottom: 2px solid #2196f3;
}

button {
  border: 0;
  outline: 0;
  color: #2196f3;
  background: transparent;
  border-radius: 2px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover, button:focus {
  background: rgba(0,0,0,0.125);
}
button:active {
  background: rgba(0,0,0,0.2);
}
button:disabled {
  color: #AAA;
}

.horizontal-margin {
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (max-width:600px) {
  .toolbar, .toolbar-large {
    padding: 16px;
  }
  .toolbar-large .title {
    left: 72px;
  }
  .toolbar-height { height: 56px; }
  .toolbar-large-height { height: 104px; }
  .toolbar-large .title {
    bottom: 16px;
  }
  .section, .list-item {
    padding: 16px;
  }
  .horizontal-margin {
    margin-left: 16px;
    margin-right: 16px;
  }
}