body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

p { margin-top: 0; }

.toolbar, .toolbar-large {
  padding: 16px;
  height: 24px;
  background: #2196f3;
  color: #FFF;
}

.toolbar .icon, .toolbar-large .icon {
  color: #FFF;
  text-decoration: none;
  outline: 0;
}

.toolbar .title, .toolbar-large .title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.toolbar-large {
  position: relative;
  height: 72px;
}

.toolbar-large .title {
  position: absolute;
  bottom: 16px;
  left: 72px;
}

.section {
  padding: 16px;
  display: block;
}

.song {
  padding: 16px;
  display: block; 
  text-decoration: none;
  outline: 0;
}
.song:hover, .song:focus {
  background: #EEE;
}