.song {
  padding: 16px;
  font-family: sans-serif;
  border-bottom: 1px solid #DDD;
}
body {
  padding: 0;
  margin: 0;
}
#name-box {
  padding: 16px;
}
#toolbar {
  padding: 16px;
  font-size: 20px;
  font-family: sans-serif;
  background: #2196f3;
  color: #FFF;
}