#content {
  flex-grow: 1;
  padding: 16px;
}
main {
  display: flex !important;
  flex-direction: row;
}

#audio-box {
  display:none;width:300px;background:#EEE;
  margin: 16px;
}
#audio-box audio {
  width:100%;
}


@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
  #audio-box {
    margin: 0;
  }
}
